.map-sizer {
  width: 100%;
}
.mapbox-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.onHoverMarker:hover {
  filter: grayscale(100%);
  filter: brightness(100);
  cursor: pointer;
  border: 2px solid #e6e6e600;
}

.markerInfo {
  background: white;
}

.marker-popup {
  background-color: #fefefeda;
  position: absolute;
  z-index: 100;
  border: solid 2px #222222;
  border-radius: 15px;
  overflow: hidden;
}

.popup-content {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.popup-item {
}

.linkHover {
  cursor: pointer;
  text-decoration: underline blue;
}
