.profile {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.profile-content {
  margin-left: 50px;
  width: 800px;
  height: 600px;
  border: 5px solid #222222;
  background-color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
}

.profile-details {
  background-color: #cdf3ff;
  color: #222222;
  border-bottom: #222222 solid 3px;
}

.profile-my-trips {
  text-align: center;
  background-color: #e8e8e8;
}

.profile-trips {
  text-align: center;
  background-color: #e8e8e8;
}
